#imageModal .modal-dialog {
    margin: auto;
    max-height: 97vh;
}

#imageModal .modal-content {
    background-color: transparent;
    border: none;
    align-items: center;
}

#imageModal .modal-footer {
    border: none;
}

#modalImage {
    max-width: 90vw;
    max-height: 90vh;
}

.photo-card {
    position: relative;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    border: none;
}

/* Hover and selected scaling */
/* TODO: How to keep image scaled when checkbox is checked? */
.photo-card:hover img,
.photo-card:has(.photo-checkbox:checked) img { 
    transform: scale(0.96);
}

/* Initially hide the checkbox and action buttons */
.photo-card .photo-checkbox {
    opacity: 0;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
    padding: 0.25rem;
    transition: opacity 0.2s;
}

.photo-action.delete-btn {
    opacity: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    padding: 0.25rem;
    transition: opacity 0.2s;
}

.photo-action.album-btn {
    opacity: 0;
    position: absolute;
    bottom: 0.5rem;
    left: 2.25rem;
    padding: 0.25rem;
    transition: opacity 0.2s;
}

/* Show checkbox and action on buttons on hover */
/* Keep checkbox and action buttons visible when checkbox is checked */
.photo-card:hover .photo-checkbox,
.photo-card:hover .photo-action,
.photo-card .photo-checkbox:checked,
.photo-card .photo-checkbox:checked ~ .photo-action {
    opacity: 1;
}

.img-thumbnail {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  object-fit: cover;
  aspect-ratio: 1;
}

.album-title-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}