#imageModal .modal-dialog {
    margin: auto;
    max-height: 94vh;
}

#imageModal .modal-content {
    background-color: transparent;
    border: none;
    align-items: center;
}

#imageModal .modal-body {
    max-height: 94vh;
}

#imageModal .modal-footer {
    border: none;
}

.img-thumbnail {
    border: none;
}

#fullImage {
    max-width: 94vw;
    max-height: 94vh;
}