#imageModal .modal-dialog {
    margin: auto;
    max-height: 97vh;
}

#imageModal .modal-content {
    background-color: transparent;
    border: none;
    align-items: center;
}

#imageModal .modal-footer {
    border: none;
}

#modalImage {
    max-width: 90vw;
    max-height: 90vh;
}

.photo-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 0.2s;
    border: none;
}

.photo-card:hover {
    transform: scale(1.02);
}

.photo-checkbox {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.img-thumbnail {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  object-fit: cover;
  aspect-ratio: 1;
}