{% extends 'base.html' %}

{% block jsinit %}
<script type="text/javascript">
  let album = {{album | tojson}};
  let albums = {{ albums | tojson }};
</script>
{% endblock %}

{% block title %}
<div class="container-fluid">
  <h1 class="display-1">
    <a href="/" style="text-decoration: none;">&LT;</a> {{album}}
  </h1>
  <button type="button" class="btn btn-primary" id="renameAlbumBtn">Rename Album</button>
  <button type="button" class="btn btn-danger" id="deleteAlbumBtn">Delete Album</button>
</div>
<hr />
{% endblock %}

<!-- Don't need to list other albums on album page -->
{% block albums %}
{% endblock %}
