{% extends 'base.html' %}

{% block jsinit %}
<script type="text/javascript">
  album = "{{album}}";
</script>
{% endblock %}

{% block title %}
<div class="container-fluid">
  <h1 class="display-1">Azure Photos | {{album}}</h1>
  <button type="button" class="btn btn-primary" id="renameAlbumBtn">Rename</button>
  <button type="button" class="btn btn-danger" id="deleteAlbumBtn">Delete</button>
</div>
<hr />
{% endblock %}

<!-- Don't need to list other albums on album page -->
{% block albums %}
{% endblock %}

{% block media %}
<div class="container-fluid">
  <h2 class="display-6">My Files</h2>
  <div class="row row-cols-4 row-cols-lg-6 grid g-0">
    {% for media in medias %}
    <!-- TODO: Remove add to album buttons here -->
      {% if media.type == "photo" %}
        {% include "partials/photo.html" %}
      {% elif media.type == "video" %}
        {% include "partials/video.html" %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}