<!DOCTYPE html>
<html lang="en">

<head>
  <title>Azure Photos | {{album}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    album = "{{album}}";
    imageUrls = {{ images | tojson }};
  </script>

  <link rel="stylesheet" href="/static/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
  <!-- Title -->
   <div class="container-fluid">
    <h1 class="display-1">Azure Photos | {{album}}</h1>
    <button type="button" class="btn btn-primary" id="renameAlbumBtn">Rename</button>
    <button type="button" class="btn btn-danger" id="deleteAlbumBtn">Delete</button>
  </div>
  <hr />

  <!-- Upload -->
  <div class="container-fluid">
    <h2 class="display-6">Upload</h2>
    <form class="mb-3" id="uploadForm">
      <!-- TODO: Submit request without refreshing page. Would probably have to update DOM to include new image -->
      <label for="formFile">File</label>
      <input class="form-control form-control-lg" id="formFileLg" type="file" required="true" multiple="true" name="upload" />
      <button class="btn btn-primary" type="submit" id="submitUpload">Submit</button>
    </form>
  </div>
  <hr />

  <!-- Photos -->
  <div class="container-fluid">
    <h2 class="display-6">My Photos</h2>
    <div class="row row-cols-4 row-cols-lg-6 grid g-0">
      {% for image in images %}
      <div class="col">
        <div class="photo-card position-relative">
          <img src="/thumbnail/{{ image }}" title="{{image}}" class="img-fluid img-thumbnail" loading="lazy" data-bs-toggle="modal" data-bs-target="#imageModal" data-full="/fullsize/{{ image }}">
          <input class="form-check-input photo-checkbox" type="checkbox" name="selected_photos" value="{{ image }}">
          <button type="button" class="btn btn-sm btn-danger photo-action delete-btn" data-photo="{{ image }}">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img id="modalImage" src="" alt="Full Size" class="img-fluid">
        </div>
        <div class="modal-footer m-0 p-0">
          <button type="button" class="btn btn-danger" id="deleteBtn">Remove</button>
        </div>
      </div>
    </div>
  </div>


  <script src="/static/index.js"></script>
</body>

</html>