<!doctype html>
<html lang="en">

<head>
  <title>Azure Photos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    imageUrls = {{ images | tojson }};
    albums = {{ albums | tojson }};
  </script>

  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <h1>Azure Photos</h1>
  <hr />
  <h2>Upload</h2>
  <form action="/upload" method="POST" enctype="multipart/form-data" class="mb-3">
    <!-- TODO: Submit request without refreshing page. Would probably have to update DOM to include new image -->
    <label for="formFile">File</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file" required="true" multiple="true"
      name="upload" />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <hr />

  <h2>Albums</h2>
  <div class="album-container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="createAlbumBtn">
      New Album
    </button>


    <div class="row">
      {% for album in albums %}
      <div class="col-6 col-md-4 col-lg-3">
        <a href="/albums/{{album}}">
          <h3>{{album}}</h3>
          <img src="/api/albums/thumbnail/{{album}}" class="img-thumbnail" width="370" height="280">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr />

  <h2 class="mb-4">My Photos</h2>
  <div class="row row-cols-4 row-cols-lg-6 grid gx-0">
    {% for image in images %}
    <div class="col">
      <div class="photo-card shadow-sm position-relative">
        <input class="form-check-input photo-checkbox" type="checkbox" name="selected_photos" value="{{ image }}">
        <img src="/thumbnail/{{ image }}" alt="Photo" class="img-thumbnail" loading="lazy" data-bs-toggle="modal"
          data-bs-target="#imageModal" data-full="/fullsize/{{ image }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img id="modalImage" src="" alt="Full Size" class="img-fluid">
        </div>
        <div class="modal-footer m-0 p-0">
          <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Add to Album</button>
          <ul class="dropdown-menu">
            {% for album in albums %}
            <li><a class="dropdown-item" href="#">{{ album }}</a></li>
            {% endfor %}
          </ul>
          <button class="btn btn-danger" id="deleteBtn">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/index.js"></script>
</body>

</html>