{% extends 'base.html' %}

{% block jsinit %}
<script type="text/javascript">
  videoUrls = {{ medias | tojson }};
</script>
{% endblock %}

<!-- TODO: Album support for videos -->
{% block albums %}
{% endblock %}

{% block media %}
<div class="container-fluid">
  <h2 class="display-6">My Videos</h2>
  <div class="row row-cols-4 row-cols-lg-6 grid g-0">
    {% for media in medias %}
    <div class="col video-card-wrapper">
      <div class="video-card">
         {% include "partials/video.html" %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

<!-- No modal needed for videos -->
{% block modal %}
{% endblock %}