<div class="col video-card-wrapper">
    <div class="video-card">
    <!-- TODO: Find a way to put a thumbnail here, add a modal, and have that stream the video
    Otherwise, the preload=metadata could become slow with lots (>100) videos on one page -->
    <video controls preload="metadata" title="{{ media.filename }}">
        <source src="/api/videos/{{ media.filename }}" type="video/mp4" />
    </video>
    <input class="form-check-input photo-checkbox" type="checkbox" name="selected_photos" value="{{ video }}">
    <button type="button" class="btn btn-sm btn-danger photo-action delete-btn" data-selected="{{ video }}">
        <i class="bi bi-trash"></i>
    </button>
    <!-- TODO: add to album calls show 200 but don't seem to do anything -->
    </div>
</div>